<div id="bet-screen" class="bet-screen container-full">
    <div class="bet-screen__container">
        <div class="bet-screen__header header-title">
            <h1 class="bet-screen__title">CASH OUT</h1>
        </div>
        <div class="bet-screen__bank bank">
            <div class="bank__header">
                <p class="bank__text">Bank</p>
                <button id="all-in-button" class="bank__all-in-button button-controls-place">All in</button>
            </div>
            <div class="bank__balance-container">
                <span id="bank-balance" class="bank__balance">$</span>
                <img class="bank__coin" src="../../../img/coin.png" />
            </div>
            <div class="bank__input-container">
                <input type="number" id="bet-amount" min="1" placeholder="Place Your bet here..." class="bank__input" />
            </div>
        </div>
        <button id="deal-button" class="bet-screen__deal-button">Deal</button>
    </div>
</div>
