<div id="alert-screen" class="alert__container">
    <span id="alert-message"></span>
    <object id="blue-ribbon-svg" class="hidden" type="image/svg+xml" data="../../../img/blue-ribbon.svg" width="600" height="160"></object>
    <object id="red-ribbon-svg" class="hidden" type="image/svg+xml" data="../../../img/red-ribbon.svg" width="600" height="160"></object>
    <object id="black-ribbon-svg" class="hidden" type="image/svg+xml" data="../../../img/black-ribbon.svg" width="600" height="160"></object>
</div>
